#products{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#product{
  border: 2px black solid;
  padding: 10px;
}
.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 45%;
    float: right;
  }

  .btn:hover {
    background-color: RoyalBlue; /* Darker background on mouse-over */
  }
